*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
header{
    background-image: url("https://hcdevilsadvocate.com/wp-content/uploads/2019/01/netflix-background-9.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    position: relative;
}
header .box{
    height: 500px;
    width: 100%;
    opacity: 0.5;
    background-color: black;
    position: absolute;
    z-index: 1;
}
nav{
    height: 30px;
    display: flex;
    justify-content: space-between;
    position: relative;
    max-width: 80vw;
    margin: 0px 100px 0px 100px;
    padding-top: 10px;
    z-index: 10;
}
nav img{
    z-index: 10;
}
/* .button{
    height: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    background-color: rgba(25,25,25,0.5);
    color: white;
    border: 4px;
} */
 .btn{
    padding: 3px 15px;
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
    border: 4px;
    font-size: larger;
    font-weight: 500;
 }
 .btn-sign{
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 3px 15px;
    font-size: larger;
    font-weight: 500;
 }
 .content{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    position: relative;
 }
 .content> :nth-child(1){
    font-size: 50px;
    font-weight: bolder;
    margin: 0px 0px 16px;
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-family: unset;
 }
 .content> :nth-child(2){
    text-align: center;
    font-weight: bolder;
    font-size: 21px;
    margin: 0px 0px 10px;
}
.content> :nth-child(3){
    font-family: sans-serif;
    font-size: 15px;
    margin: 0px 0px 10px;
}
.search{
    display: flex;

}
.btn-start{
    background-color: red;
    color: white;
    padding: 10px 26px 12px 16px;
    border-radius: 4px;
    text-align: left;
    font-size: 20px;
}
.content input{
    padding: 16px 130px 16px 20px;
    border-radius: 4px;
    background-color: rgba(25, 25, 25, 0.5);
    color: white;
}
.container{
    height: 500px;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw;
    margin-bottom: 100px;
}
.section-title{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}
.slider{
    display: flex;
    gap: 20px;
}
.card img{
    width: 100%;
}

